@font-face {
    font-family: "playfair";
    src: url("assets/font/PlayfairDisplay-VariableFont_wght.ttf") format('ttf');
}



:root {
    --primary: #0a80ff;
    --secondary: #6C757D;
    --light: #F8F9FA;

}


.rond {
    border-radius: 110px;
}



.titre {
    font-size: 64px;
    font-family: "playfair";
}

.imgcard {
    height: 64px;
    width: auto;
    align-self: flex-start;
    margin: 40px;
}

.w-10 {
    width: 60px;
}

.card-title {
    font-weight: bold;
}

.card-text,
.card-title {
    margin-left: 40px;
}

.margin {
    margin-top: 150px !important;
}

.imgprov {
    border: 5px solid var(--primary);
    border-radius: 1000px;
    width: 200px;
}

.imgacceuil {
    width: 30rem;
    height: auto;
}


h3 {
    font-family: "playfair";
}

main {
    p {
        color: var(--secondary);
    }
}

ul {
    list-style-type: none;
}

li {
    color: var(--secondary);
}


.text-light {
    color: var(--light) !important;
}